In [69]:
import pandas as pd
import numpy as np

In [70]:
data = pd.read_excel("data.xlsx")

In [71]:
data=data.loc[[1,2,3,4,5,6,7,8,9,10],[2557,2558,2559,2560]]

In [72]:
data

               2557       2558       2559       2560
1.0  CPF  0.0545554  0.0728332  0.0635324  0.0709723
2.0  PM   0.0763942  0.0687758  0.0804505  0.0665336
3.0  TVO  0.0993049   0.117096  0.0769823   0.108225
4.0  LTX   0.106496   0.143678   0.130378     0.1221
5.0  SUC   0.067981  0.0848176   0.139665  0.0832639
6.0  TNL  0.0667111  0.0630517  0.0650195  0.0608643
7.0  KYE   0.110988   0.136426   0.130719   0.120773
8.0  JCT  0.0740741  0.0849618  0.0814332  0.0640205
9.0  OCC  0.0803213  0.0805153  0.0825083  0.0703235
10.0 S&J  0.0766871  0.0942507   0.106045   0.063857

In [73]:
data_array=data.as_matrix()

In [74]:
mean=[]
for i in range(len(data_array)):
    mean.append((data_array[i].mean())*100)

In [75]:
mean

[6.547332699215608,
 7.303852683974468,
 10.040207174281639,
 12.56631630324779,
 9.39318396449015,
 6.391165542004219,
 12.472633511826245,
 7.612238814755752,
 7.84170804793135,
 8.5209830639915]

In [76]:
zig_array = np.full((10, 10), np.NaN)
for i in range(len(data_array)):
    for j in range(len(data_array)):
#         print('Zig',i,j,'=',np.cov(data_array[i].astype(float),data_array[j].astype(float),rowvar=False)[0][1])
        zig_array[i][j]=(np.cov(data_array[i].astype(float),data_array[j].astype(float),rowvar=False)[0][1])*10000

In [77]:
result = np.full((12, 12), np.NaN)

In [78]:
result[0][0]=0
result[0][1]=0
result[1][0]=0
result[1][1]=0

for i in range(2,len(result)):
    result[1][i]=1
    result[i][1]=1
    
    result[0][i]=mean[i-2]
    result[i][0]=mean[i-2]
for i in range(2,len(result)):
    for j in range(2,len(result)):
        result[i][j]=zig_array[i-2][j-2]

In [79]:
pd.DataFrame(result)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000,0.0,6.547333,7.303853,10.040207,12.566316,9.393184,6.391166,12.472634,7.612239,7.841708,8.520983
1,0.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,6.547333,1.0,0.691252,-0.393890,0.744399,1.043690,0.229413,-0.186005,0.675772,0.035213,-0.192649,0.005775
3,7.303853,1.0,-0.393890,0.422277,-0.997731,-0.276622,1.200451,0.136981,-0.086131,0.245108,0.268059,0.753958
4,10.040207,1.0,0.744399,-0.997731,2.965259,0.611583,-4.260632,-0.224043,0.130361,-0.230802,-0.420642,-1.649031
5,12.566316,1.0,1.043690,-0.276622,0.611583,2.422786,1.956144,-0.176894,1.721430,0.888870,0.164764,1.668469
6,9.393184,1.0,0.229413,1.200451,-4.260632,1.956144,9.872748,0.061210,1.887106,1.148579,0.683012,4.397982
7,6.391166,1.0,-0.186005,0.136981,-0.224043,-0.176894,0.061210,0.063635,-0.099451,0.098090,0.109077,0.188394
8,12.472634,1.0,0.675772,-0.086131,0.130361,1.721430,1.887106,-0.099451,1.257208,0.704083,0.183002,1.440441
9,7.612239,1.0,0.035213,0.245108,-0.230802,0.888870,1.148579,0.098090,0.704083,0.856637,0.447740,1.554777
10,7.841708,1.0,-0.192649,0.268059,-0.420642,0.164764,0.683012,0.109077,0.183002,0.447740,0.300908,0.869335
11,8.520983,1.0,0.005775,0.753958,-1.649031,1.668469,4.397982,0.188394,1.440441,1.554777,0.869335,3.481347