In [1]:
import pandas as pd
import numpy as np
from numpy.linalg import inv

# Prepare data

In [2]:
data = pd.read_excel("data.xlsx")
data=data.loc[[1,2,3,4,5,6,7,8,9,10],[2557,2558,2559,2560]]
dataDimension = [10,4]

In [3]:
data_array=data.as_matrix()
data_array=data_array*100

In [4]:
mean=[]
for i in range(len(data_array)):
    mean.append((data_array[i].mean()))

In [5]:
zig_array = np.full((dataDimension[0], dataDimension[0]), np.NaN)
for i in range(len(data_array)):
    for j in range(len(data_array)):
        zig_array[i][j]=(np.cov(data_array[i].astype(float),data_array[j].astype(float),rowvar=False)[0][1])

# Find H Array

In [6]:
H = np.full((2+dataDimension[0], 2+dataDimension[0]), np.NaN)
H[0][0]=0
H[0][1]=0
H[1][0]=0
H[1][1]=0

for i in range(2,len(H)):
    H[1][i]=1
    H[i][1]=1
    
    H[0][i]=mean[i-2]
    H[i][0]=mean[i-2]
for i in range(2,len(H)):
    for j in range(2,len(H)):
        H[i][j]=zig_array[i-2][j-2]

In [7]:
pd.DataFrame(H)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000,0.0,6.547333,7.303853,10.040207,12.566316,9.393184,6.391166,12.472634,7.612239,7.841708,8.520983
1,0.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,6.547333,1.0,0.691252,-0.393890,0.744399,1.043690,0.229413,-0.186005,0.675772,0.035213,-0.192649,0.005775
3,7.303853,1.0,-0.393890,0.422277,-0.997731,-0.276622,1.200451,0.136981,-0.086131,0.245108,0.268059,0.753958
4,10.040207,1.0,0.744399,-0.997731,2.965259,0.611583,-4.260632,-0.224043,0.130361,-0.230802,-0.420642,-1.649031
5,12.566316,1.0,1.043690,-0.276622,0.611583,2.422786,1.956144,-0.176894,1.721430,0.888870,0.164764,1.668469
6,9.393184,1.0,0.229413,1.200451,-4.260632,1.956144,9.872748,0.061210,1.887106,1.148579,0.683012,4.397982
7,6.391166,1.0,-0.186005,0.136981,-0.224043,-0.176894,0.061210,0.063635,-0.099451,0.098090,0.109077,0.188394
8,12.472634,1.0,0.675772,-0.086131,0.130361,1.721430,1.887106,-0.099451,1.257208,0.704083,0.183002,1.440441
9,7.612239,1.0,0.035213,0.245108,-0.230802,0.888870,1.148579,0.098090,0.704083,0.856637,0.447740,1.554777
10,7.841708,1.0,-0.192649,0.268059,-0.420642,0.164764,0.683012,0.109077,0.183002,0.447740,0.300908,0.869335
11,8.520983,1.0,0.005775,0.753958,-1.649031,1.668469,4.397982,0.188394,1.440441,1.554777,0.869335,3.481347

In [8]:
pd.DataFrame(zig_array)

,0,1,2,3,4,5,6,7,8,9
0,0.691252,-0.393890,0.744399,1.043690,0.229413,-0.186005,0.675772,0.035213,-0.192649,0.005775
1,-0.393890,0.422277,-0.997731,-0.276622,1.200451,0.136981,-0.086131,0.245108,0.268059,0.753958
2,0.744399,-0.997731,2.965259,0.611583,-4.260632,-0.224043,0.130361,-0.230802,-0.420642,-1.649031
3,1.043690,-0.276622,0.611583,2.422786,1.956144,-0.176894,1.721430,0.888870,0.164764,1.668469
4,0.229413,1.200451,-4.260632,1.956144,9.872748,0.061210,1.887106,1.148579,0.683012,4.397982
5,-0.186005,0.136981,-0.224043,-0.176894,0.061210,0.063635,-0.099451,0.098090,0.109077,0.188394
6,0.675772,-0.086131,0.130361,1.721430,1.887106,-0.099451,1.257208,0.704083,0.183002,1.440441
7,0.035213,0.245108,-0.230802,0.888870,1.148579,0.098090,0.704083,0.856637,0.447740,1.554777
8,-0.192649,0.268059,-0.420642,0.164764,0.683012,0.109077,0.183002,0.447740,0.300908,0.869335
9,0.005775,0.753958,-1.649031,1.668469,4.397982,0.188394,1.440441,1.554777,0.869335,3.481347

# H inverse operation

In [9]:
H_inv=inv(H)

ERp=10
erpArray = [ERp,1] +[0]*(dataDimension[0])

H_operation_result=np.matmul(H_inv,erpArray)

In [10]:
H_operation_result[2:]

array([-0.44424786, -2.71530321,  0.5784683 , -1.76556859,  0.27095017,
        2.6179955 ,  2.06875213, -1.82333738,  1.37140866,  0.84088229])

In [11]:
# หาอินเวิร์ส
u = np.array([1]*dataDimension[0])
zig_inv=inv(zig_array)

top = np.matmul(u,zig_inv)
bottom = np.matmul(u,zig_inv)
bottom = np.matmul(bottom,np.transpose(u))

result = top/bottom

# find WCWt

In [12]:
#first find by H
result_by_H = np.matmul(H_operation_result[2:],zig_array)
result_by_H = np.matmul(result_by_H,np.transpose(H_operation_result[2:]))

#first find by another
result_2 = np.matmul(result,zig_array)
result_2 = np.matmul(result_2,np.transpose(result))

print("result_by_H==>",result_by_H)
print("result_2==>",result_2)

result_by_H==> -3.28942876715641e-15
result_2==> 1.2200700401971278e-16